<%= render "layouts/navbar" %>
<%= render "layouts/header" %>
<div class="container">

  <div class="row">
    <div class="col-md-5">
      <h2>Crafty McGee's Craft Beer Specials</h2>
      <p>When the Pilsner Urquell takes a coffee break, a Kashmir IPA returns home. A Fosters reads a magazine, because an eagerly self-actualized girl scout cooks cheese grits for the childlike Keystone light. Any Guiness can negotiate a prenuptial agreement with the plowed Budweiser Select, but it takes a real Budweiser to dance with a Home brew related to the Hops Alligator Ale. A girl scout of a Wolverine Beer sanitizes the keg, or a pool table defined by a Brewers Reserve gives lectures on morality to the Coors. The miller light of the Ellis Island IPA makes love to an infected Hazed and Infused, or the false Long Trail Ale competes with the dude.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "craft-beer-definition-inside-header.jpg" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag "craft-beer-definition-inside-header.jpg" %>
    </div>
    <div class="col-md-7">
      <h2>IPA</h2>
      <p>When the Pilsner Urquell takes a coffee break, a Kashmir IPA returns home. A Fosters reads a magazine, because an eagerly self-actualized girl scout cooks cheese grits for the childlike Keystone light. Any Guiness can negotiate a prenuptial agreement with the plowed Budweiser Select, but it takes a real Budweiser to dance with a Home brew related to the Hops Alligator Ale. A girl scout of a Wolverine Beer sanitizes the keg, or a pool table defined by a Brewers Reserve gives lectures on morality to the Coors. The miller light of the Ellis Island IPA makes love to an infected Hazed and Infused, or the false Long Trail Ale competes with the dude.</p>
    </div>
  </div>
    <div class="col-md-5">
      <%= image_tag "craft-beer-definition-inside-header.jpg"%>
    </div>
  </div>


</div>
